*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body
{
    
    cursor: context-menu;
    background: #000;
}

section
{
    padding: 40px;
    color: #666;
}

section h2
{
    font-size: 3.5em;
}

section p
{
    font-size: 1.2em;
}

#cursorMeter
{
    position: fixed;
    top: 0;
    width: 400px;
    height: 80px;
    /* background: #ff0; */
    pointer-events: none;
    z-index: 100000;
}

#scrollPath
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: #333;
}

#progressBar
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to left, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
}

#progressBar::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #008aff, #00ffe7);
    filter: blur(10px);
}

#progressBar::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #008aff, #00ffe7);
    filter: blur(30px);
}

@keyframes animate
{
    0%,100%
    {
        filter: hue-rotate(0deg);
    }
    50%
    {
        filter: hue-rotate(360deg);
    }
}

#percent
{
    position: absolute;
    top: 30px;
    left: 0;
    color: #fff;
    font-size: 1.2em;
    padding: 2px 5px;
    background: #fff;
    color: #333;
}