
.mainTitles
{
    position: relative;
    top: 50px;
    bottom: 10px;

}

.titles
{
    min-width: 300px;
    position: relative;
    width: 100%;
    margin: 10px;
    padding: 30px;
    background-color: black;
    color: white;
    opacity: 0.5;
    border-radius: 15px;
    transition: .5s ease-out;
}
.titles:hover
{
    background-position: left;
    margin: 10px;
    box-shadow: 0 0 10px 10px #888888;
    padding: 30px;
    background-color: black;
    color: white;
    opacity: 1;
    border-radius: 15px;
    box-shadow: 50px;
    transition: 1s;
}

a
{
    text-decoration: none;

}

video
{
    position: absolute;
    z-index: -1;
    width: 100%;
    object-fit:cover;
    height: 100%;
}
