*{
    padding: 0;
    margin: 0;
}

nav
{
    content: "";
    padding: 15px;
    font-size: 20px;
    background:lightblue;
}
.mainTitles
{

    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 80%;
}
.titles
{
    margin: 10px;

    padding: 30px;
    background-color: black;
    color: white;
    opacity: 0.5;
    border-radius: 15px;
    background-size: 200%;
    transition: .5s ease-out;
}
.titles:hover
{
    background-position: left;
    margin: 10px;
    padding: 30px;
    background-color: black;
    color: white;
    opacity: 1;
    border-radius: 15px;
    transition: 1s;
}

a
{
    text-decoration: none;
}

video
{
    position: absolute;
    z-index: -1;
    width: 100%;
    object-fit:cover;
    height: 100%;
}

