*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    color: #eee;
}

.container1
{
    position: absolute;
    width: 100%;
    /* margin-top: 60vh; */
    height: 40vh;
    display: flex;
    flex-direction:column; 
    background-color: black;
    justify-content:left;
    align-items:flex-start;
}

.container1 p{
    position: relative;
    padding: 0.5rem;
}

.typed-text{
    font-weight: normal;
    color: rgb(211, 91, 43);
}

.cursor{
    display: inline-block;
    width: 0.5rem;
    background-color: #ccc;
    margin-left: 0.2rem;
    animation: blink 1s infinite;
}

.cursor.typing{
    animation: none;
}

P{
    font-size: 1.75rem;
}

@keyframes blink {
    0%{background-color: #ccc;}
    50%{background-color: transparent;}
    100%{background-color: #ccc;}

}